@using Chat.Domain.Entities;
@model List<ChatRoom>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta>
</head>
<body>
    <div class="container">
        <div class="leftSide">

            <div class="header">
                <div class="userImg">
                    <img src="/css/account.jpg" class="cover">
                </div>
                <div>Bobur</div>
            </div>

            <div class="seachChat">
                <div>
                    <input type="text" placeholder="Search chat" id="searchInput" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </div>
            </div>

            <div class="chatList" id="chatList">
                @foreach (var a in Model)
                {
                    var friend = a.FirstUser is null ? a.SecondUser : a.FirstUser;
                    <button class="block active gap-2" id="myButton" onclick="show('@friend.Id','@friend.FirstName','@friend.LastName','@friend.IsOnline')">
                        <div class="imgBx">
                            <img src="/css/account.jpg" class="cover" />
                        </div>
                        <div class="details">
                            <div class="listHead mt-1">
                                <h5 class="m-0">
                                    @if (a.FirstUser is null)
                                    {
                                        @a.SecondUser.UserName
                                    }
                                    else
                                    {
                                        @a.FirstUser.UserName
                                    }
                                </h5>
                                <p class="time m-0">10:10</p>
                            </div>
                            <div class="message_p">
                                <p class="mb-1">How to make Whatsapp clone using html and css</p>
                                <b>1</b>
                            </div>
                        </div>
                    </button>
                }
            </div>
        </div>
        <div class="rightSide" id="rightSide" style="display:none">
            <div class="header d-flex flex-column">
                <div class="col-12 text-center fw-bold" id="friendName"><br /></div>
                <div id="friendIsOnline" class="col-12 text-center text-secondary">qale</div>
            </div>

            <div class="chatBox" id="chatBox">
                @* <div class="message myMessage">
                    <p>Hi, how are you doing really good right<br /><span>10:15</span></p>
                </div>
                <div class="message friendMessage">
                    <p>Hi asdasgdausygdaysgduasgduasygdasgdasydadgs<br /><span>10:15</span></p>
                </div> *@
            </div>

            <div class="chatInput">
                <button id="sendButton" class="btn btn-success"></button>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/mychat.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchInput").keyup(function () {
                var search = document.getElementById("searchInput").value
                console.log(search)
                $.ajax({
                    url: `/home/get`,
                    data: {
                        term: search
                    },
                    type: 'get',
                    success: function (data) {
                        console.log(data)
                        var chatDiv = document.getElementById("chatList");
                        var previusHtml = chatDiv.innerHTML;
                        chatDiv.innerHTML = '';
                        var html = ''
                        for (var i = 0; i < data.length; i++) {
                            var a= data[i]
                            html += '<button class="block active gap-2" id="myButton" onclick="show(' + `'${a.id}','${a.firstName}','${a.lastName}','${a.isOnline}'` + ')">';
                            html += '<div class="imgBx">' + '<img src="/css/account.jpg" class="cover" />' + '</div>';
                            html += '<div class="details">' + '<div class="listHead mt-1">' + '<h5 class="m-0">';
                            html += data[i].firstName + '  ' + data[i].lastName;
                            html += '</h5>' + '</div>' + '</div>';
                        }
                        $("#chatList").append(html);
                    },
                    error: function (jqxhr, textstatus, errorthrown) {
                        $("#chatList").empty();
                        console.error('error loading users:', textstatus, errorthrown);
                    }
                });
            });
        });
    </script>
}

